# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl

# Poetry
.poetry/
poetry.lock

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.bak
*.swp
.DS_Store
