# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl
*.spec

# Poetry
.poetry/

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.bak
*.swp
.DS_Store

# sample ifc files
*.ifc
*.xlsx
*.dxf
examples
